workflows/simple-email-workflow.json
{
  "name": "Simple Email Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "email-webhook",
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "email-automation-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Email Data Processor\nconst input = $input.first().json;\nconst { topic, recipient, urgency, context } = input;\n\n// Build email prompt based on context\nlet emailPrompt = `Generate a professional email about: ${topic}`;\n\nif (context) {\n  emailPrompt += `\\nContext: ${context}`;\n}\n\nif (urgency) {\n  emailPrompt += `\\nUrgency: ${urgency}`;\n}\n\n// Add fitness maintenance specific context\nemailPrompt += `\\n\\nThis is for Lifetime Fitness maintenance team. Keep it professional, clear, and actionable.`;\n\nreturn {\n  emailPrompt,\n  recipient: recipient || 'team@lifetimefitness.com',\n  subject: `Maintenance Update: ${topic}`,\n  urgency,\n  originalData: input\n};"
      },
      "id": "email-processor",
      "name": "Email Data Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.PERPLEXITY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.1-sonar-small-128k-online"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{ $json.emailPrompt }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "id": "perplexity-api",
      "name": "Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Email Response Processor\nconst input = $input.first().json;\nconst perplexityResponse = input.data;\nconst emailData = input.originalData;\n\n// Extract email content from Perplexity response\nlet emailContent = '';\nif (perplexityResponse && perplexityResponse.choices && perplexityResponse.choices[0]) {\n  emailContent = perplexityResponse.choices[0].message.content;\n} else {\n  emailContent = 'Unable to generate email content at this time.';\n}\n\n// Format email\nconst formattedEmail = `\\n${emailContent}\\n\\n---\\nLifetime Fitness Maintenance Team\\nGenerated by AI Assistant`;\n\nreturn {\n  to: emailData.recipient,\n  subject: emailData.subject,\n  content: formattedEmail,\n  urgency: emailData.urgency,\n  generatedAt: new Date().toISOString()\n};"
      },
      "id": "email-formatter",
      "name": "Email Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Email content generated successfully\",\n  \"recipient\": \"{{ $json.to }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"timestamp\": \"{{ $json.generatedAt }}\"\n}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [
        [
          {
            "node": "Email Data Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Data Processor": {
      "main": [
        [
          {
            "node": "Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity API": {
      "main": [
        [
          {
            "node": "Email Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Formatter": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
} 